---
import Navigation from '../components/navigation.astro'
const pageTitle = "About Me";

const identity = {
    firstName: "Mohammad",
    occupation: "Software Developer",
    country: "Canada",
    hobbies: ["learning new technologies", "movies", "cricket"]
}

const skills = ["Javascript", "React", "C#", "Azure"]
---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    
    <h1>{pageTitle}</h1>
    
    <p>Here are a few facts about me</p>

    <ul>
        <li>My name is {identity.firstName}</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}</li>
        {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>

    <p>My skills are</p>
    <ul>
        {skills.map(s => <li>{s}</li>)}
    </ul>

  </body>
</html>